%html
  %head
    = include_template 'header'

    %title
      = config['title'] + " - " + title

    :javascript
      $(document).ready(function() {
          $("<li><a href='#' id='slideshow_start'>Start slideshow!</a></li>").appendTo('#menu');
          $("#slideshow_start").attr("href", "#slideshow=0");

          $("#images img").each(function(index, element) {
            images[index] = basename(element.src);
            $(element).parent().click(function() {
                slideshow_start(index);
                return false;
            });
          });

          slideshow_init();

          $("#slideshow_start").click(function() {
              slideshow_start(0);
              return false;
          });

          var matches = document.location.hash.match('slideshow=(.*)');
          if (matches) {
            slideshow_start(parseInt(matches[1]) || 0);
          }
      });

  %body.album_index
    %h1
      = title

    %ul#menu
      %li
        %a(href="../") To album list

    #images
      = include_for_each 'album.per_date', images_by_date

    %hr/

    #footer
      = include_template 'footer'

    #slideshow(style='display: none;')
      %img#slideshow_close{:src => base_relative("static/close.png")}
      %img#slideshow_prev{:src => base_relative("static/previous.png")}
      %img#slideshow_next{:src => base_relative("static/next.png")}

      %img#slideshow_image

    #slideshow_background(style='display: none;')
      &nbsp;
