%html
  %head
    %title
      = config['title']

    = include_template 'header'

  %body.album_index
    %h1
      = config['title']

    #albums
      = include_for_each 'index.per_year', albums_by_year

    %hr

    #footer
      = include_template 'footer'
